@page "/test/motorola/apx"
@using OpenAutoBench_ng.Communication.Radio.Motorola.APX
@using OpenAutoBench_ng.Communication.Radio.Motorola.Quantar
@using OpenAutoBench_ng.Communication.Radio
@using OpenAutoBench_ng.Communication.Instrument
@using OpenAutoBench_ng.Communication.Radio.Motorola.XCMPRadioBase
@using OpenAutoBench_ng.OpenAutoBench
@using System.IO.Ports
@inject Microsoft.JSInterop.IJSRuntime JS

<PageTitle>APX</PageTitle>

<h3>Motorola APX</h3>

<input type="checkbox" @bind="testParams.doRefoscTest" /> Tx: Reference Oscillator
    <br />
<input type="checkbox" @bind="testParams.doPowerTest" /> Tx: Power
    <br />
<input type="checkbox" @bind="testParams.doDeviationTest" /> Tx: Deviation
    <br />
<input type="checkbox" @bind="testParams.doTxBer" /> Tx: BER
<br />
<input type="checkbox" @bind="testParams.doRssiTest" /> Rx: RSSI
    <br />
<input type="checkbox" @bind="testParams.doRxBer" /> Rx: BER
<br />

<div hidden="@(!settings.EnableExtendedFreqTest)">
    <input type="checkbox" @bind="testParams.doTxExtendedTest" /> Tx: Extended Freq Test
    <br />
    <input type="text" @bind="testParams.ExtendedTestStart" /> Extended Freq Test Start (hz)
    <br />
    <input type="text" @bind="testParams.ExtendedTestEnd" /> Extended Freq Test End (hz)
    <br />
    <input type="text" @bind="testParams.ExtendedTestStep" /> Extended Freq Test Step (hz)
</div>




<button class="btn btn-success" @onclick="@OnConnect">Connect</button>

<button class="btn btn-primary" disabled=@NotConnected @onclick ="@OnAlnBegin">Begin Alignment</button>
<button class="btn btn-secondary" disabled=@NotConnected @onclick ="@OnTestBegin">Begin Test</button>

<button class="btn btn-success" @onclick="@SavePDF">Save PDF</button>
<br />

<pre><code>@((MarkupString)TestOutput)</code></pre>
@code {
    private string TestOutput = "Test output goes here...\n";
    private bool NotConnected = true;
    private string[] ports;
    public XCMPRadioTestParams testParams = new XCMPRadioTestParams();
    IBaseInstrument instrument = null;
    MotorolaAPX radio = null;
    private Preferences prefs = new Preferences();
    private Settings settings;

    private async Task ConnectRadio()
    {
        try
        {
            updateOutput("Connecting to test set...");
            instrument = await MainLogic.CreateInstrument();
            await Task.Delay(500);
            updateOutput("Connected to " + await instrument.GetInfo());

        }
        catch (Exception e)
        {
            updateOutput("Connection to test set failed: " + e.ToString());
            return;
        }

        try
        {
            updateOutput("Connecting to radio...");
            XCMPIPConnection conn = new XCMPIPConnection("192.168.128.1", 8002);
            radio = new MotorolaAPX(conn);
            radio.Connect();
            await Task.Delay(500);
            radio.GetStatus(MotorolaXCMPRadioBase.StatusOperation.SerialNumber);
            updateOutput("Connected to " + radio.SerialNumber);
        }
        catch (Exception e)
        {
            updateOutput("Connection to radio failed: " + e.ToString());
            return;
        }

        // allows tests to be run
        NotConnected = false;
    }

    private async Task OnConnect(MouseEventArgs mouseEventArgs)
    {
        clearOutput();

        await ConnectRadio();

        await Task.Delay(1000);

        await instrument?.Disconnect();
        radio?.Disconnect();

    }

    private async Task OnAlnBegin(MouseEventArgs mouseEventArgs)
    {
    //
    }

    private async Task OnTestBegin(MouseEventArgs mouseEventArgs)
    {
        clearOutput();
        DateTime startTime = DateTime.Now;

        updateOutput("Beginning tests at " + startTime.ToString("HH:mm:ss tt"));
        updateOutput("=====================================");
        updateOutput("");

        await ConnectRadio();

        testParams.instrument = instrument;
        testParams.callback = updateOutput;
        testParams.radio = radio;
        try
        {
            radio.EnterServiceMode();
            await radio.PerformTests(testParams);
        }
        catch (Exception e)
        {
            updateOutput(String.Format("Error when testing: {0}", e.ToString()));
        }
        finally
        {
            radio.ResetRadio();
            radio.Disconnect();
            await instrument.Disconnect();
        }


        DateTime endTime = DateTime.Now;
        updateOutput("Completed tests at " + endTime.ToString("HH:mm:ss tt"));
        TimeSpan timeDiff = endTime.Subtract(startTime);
        updateOutput("Done in " + timeDiff.ToString(@"hh\:mm\:ss"));
    }

    public void updateOutput(string line)
    {
        TestOutput += line + "<br>";
        InvokeAsync(StateHasChanged);
    }

    public void clearOutput()
    {
        TestOutput = "";
        InvokeAsync(StateHasChanged);
    }

    protected override async Task OnInitializedAsync()
    {
        ports = SerialPort.GetPortNames();
        settings = prefs.Load();
    }

    private async Task SavePDF()
    {
        using (MemoryStream excelStream = MainLogic.GeneratePdf(TestOutput.Replace("<br>", "\n")))
        {
            string fileName = $"TestReport - {radio?.SerialNumber}.pdf";
            await JS.InvokeAsync<object>("saveAsFile", fileName, Convert.ToBase64String(excelStream.ToArray()));
        }
    }
}
